body {
    border-color: #22252c;
}

.mainFrame {
    position: relative;
    background-color: #22252c;
    font: 14px "Microsoft YaHei";
    color: #fff;
}

.hide {
    display: none;
}

.btn {
    background-color: #fb9628;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: #22252c;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #f7b04d;
}

.btn-dark {
    background-color: #5c5a67;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: #d1d1d1;
    text-align: center;
    cursor: pointer;
}

.btn-dark:hover {
    background-color: #323740;
    color: #ababab;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.recomm {
    color: #878787;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #fff;
}

.following-wrapper {
    margin: 0 auto;
    padding-top: 50px;
    width: 1000px;
    min-height: 1000px;
}

.left-wrapper {
    float: left;
    width: 640px;
}

.left-wrapper h1 {
    padding-bottom: 15px;
    width: 78px;
    font-size: 18px;
    font-weight: normal;
    background: url(../img-v2/nav_76x10.png) left bottom no-repeat;
}

.left-wrapper hr {
    margin: 0;
    height: 1px;
    background-color: #3b3d49;
    border: 0;
}

.left-wrapper .section {
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: #323740;
}

.left-wrapper .control {
    position: relative;
    padding: 15px 25px;
    width: 590px;
    height: 45px;
}

.left-wrapper .control .search {
    position: relative;
    width: 230px;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
}

.left-wrapper .control .search input {
    padding: 5px 10px;
    width: 180px;
    height: 20px;
    color: #777582;
    border-radius: 3px;
    border: 0;
    outline: 0;
}

.left-wrapper .control .search .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../img-v2/searching_15x15.png) center no-repeat;
}

.left-wrapper .control .filter {
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 1;
    *z-index: 1;
    height: 30px;
    overflow: hidden;
    border-radius: 3px;
    cursor: pointer;
}

.left-wrapper .control .filter.active {
    height: auto;
    outline: 0;
}

.left-wrapper .control .filter.active span {
    background-position: right;
}

.left-wrapper .control .filter span {
    position: absolute;
    top: 11px;
    right: 10px;
    width: 11px;
    height: 7px;
    background-image: url(../img-v2/toggle_22x7.png);
    background-position: left;
}

.left-wrapper .control .toggle-btn {
    padding: 0 10px;
    width: 75px;
    height: 30px;
    color: #777582;
    background-color: #282d37;
    border-radius: 3px;
    line-height: 30px;
}

.left-wrapper .control .toggle-options li {
    padding: 0 10px;
    width: 75px;
    height: 30px;
    color: #777582;
    background-color: #282d37;
    line-height: 30px;
    cursor: pointer;
}

.left-wrapper .control .toggle-options li:hover {
    background-color: #fb9628;
    color: #fff;
}

.left-wrapper .list hr,
.left-wrapper .control hr {
    position: absolute;
    bottom: 0;
    width: 590px;
    height: 1px;
    background-color: #5c5a67;
    border: 0;
}

.left-wrapper .list li {
    position: relative;
    padding: 15px 25px;
    width: 590px;
    min-height: 70px;
}

.left-wrapper .list li:hover {
    background-color: #282d37;
}

.left-wrapper .list li:hover .btn-mail,
.left-wrapper .list li:hover .btn-blacklist {
    display: block;
}

.left-wrapper .list .pic {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.left-wrapper .list .name {
    margin-left: 73px;
    width: 450px;
    height: 22px;
    font-size: 16px;
    color: #fff;
}

.left-wrapper .list .desc {
    margin: 5px 0 0 73px;
    width: 430px;
    color: #7a7e89;
    overflow: hidden;
}

.left-wrapper .list .info {
    margin: 5px 0 0 73px;
    width: 390px;
    height: 17px;
    color: #bdbdbd;
    font-size: 12px;
}

.left-wrapper .list .btn-follow {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 68px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
}

.left-wrapper .list .btn-mail {
    display: none;
    position: absolute;
    top: 20px;
    right: 112px;
    color: #43bdff;
    font-size: 12px;
    cursor: pointer;
}

.left-wrapper .list .btn-blacklist {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 25px;
    color: #43bdff;
    font-size: 12px;
    cursor: pointer;
}

.left-wrapper .page {
    position: relative;
    margin-top: 20px;
    height: 20px;
    font-size: 12px;
}

.left-wrapper .page .page-pre,
.left-wrapper .page .page-next {
    position: absolute;
    width: 18px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

.left-wrapper .page .page-pre:hover,
.left-wrapper .page .page-next:hover {
    background-position: left;
}

.left-wrapper .page .page-pre {
    right: 125px;
    background-image: url(../img-v2/lastpage_36x20.png);
}

.left-wrapper .page .page-next {
    right: 94px;
    background-image: url(../img-v2/nextpage_36x20.png);
}

.left-wrapper .page .page-show {
    position: absolute;
    right: 24px;
}

.right-wrapper {
    float: left;
    margin-left: 70px;
    width: 290px;
}

.right-wrapper .host {
    position: relative;
    height: 140px;
}

.right-wrapper .pic {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 100%;
}

.right-wrapper .name {
    position: absolute;
    top: 57px;
    left: 124px;
    font-size: 18px;
}

.right-wrapper .info {
    position: absolute;
    top: 82px;
    left: 124px;
    font-size: 16px;
    color: #fb9628;
}

.right-wrapper .backhome {
    position: absolute;
    top: 116px;
    left: 124px;
    font-size: 16px;
    color: #fff;
}

.right-wrapper hr {
    margin: 20px 0;
    height: 1px;
    background-color: #3b3d49;
    border: 0;
}

.right-wrapper .ad h1 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
}

.right-wrapper .ad img {
    margin-bottom: 20px;
    width: 100%;
}

.right-wrapper .ad p,
.right-wrapper .ad a {
    margin-bottom: 20px;
    font-size: 16px;
}

.right-wrapper .ad p {
    color: #fff;
}

.right-wrapper .ad a {
    color: #bdbdbd;
}

::-webkit-input-placeholder {
    color: #777582;
}