@charset "utf-8";

/* CSS Document */

a:active,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

i.icon-audio {
    background: url(../img-v2/releaseAudio_40x20.png) 0%;
}

i.icon-album {
    background: url(../img-v2/releaseAudio_40x20.png) 100%;
}

i.icon-audioCount {
    background: url(../img-v2/audioInfo.png) 0%;
}

i.icon-liked {
    background: url(../img-v2/audioInfo.png) 100%;
}

.btn {
    background-color: #fb9628;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: #22252c;
    text-align: center;
    cursor: pointer;
    *display: inline;
    *zoom: 1;
}

.btn:hover {
    background-color: #f7b04d;
}

.mainFrame {
    padding: 3em 0;
    background: #22252c;
    cursor: default;
}

.inner-wrap {
    margin: 0 auto;
    width: 1000px;
}

#topBanner {
    position: relative;
    height: 400px;
    background: #333740;
}

#topBanner .avatar {
    position: absolute;
    width: 0;
    height: 50%;
    bottom: 10%;
    left: 3%;
}

#topBanner .avatar img {
    width: auto;
    height: 100%;
    border: solid 5px #fff;
    border-radius: 50%;
}

#topBanner .upper {
    position: relative;
    height: 345px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#topBanner .upper .info {
    position: absolute;
    bottom: 3%;
    left: 26%;
    color: #fff;
    font-size: 1.6em;
    font-weight: 200;
    line-height: 100%;
}

#topBanner .upper .info span.name {
    font-size: 1.8em;
    margin-right: 24px;
}

#topBanner .btnFollow {
    display: inline-block;
    margin-left: 10px;
    width: 68px;
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    *display: inline;
    *zoom: 1;
}

#topBanner .bottom {
    height: 55px;
}

#topBanner .bottom .extends {
    margin-left: 26%;
    padding: 20px 0;
    font-size: 1.4em;
    line-height: 100%;
}

#topBanner ul.extends li.item {
    float: left;
    padding: 0 16px;
    border-left: solid 1px #fff;
    color: #fff;
    cursor: default;
}

#topBanner ul.extends li.item:first-child {
    border: 0;
    padding-left: 0;
}

#topBanner ul.extends li a {
    color: #fff;
}

#dplOther {
    display: none;
    position: relative;
}

#dplOther div.label {
    padding-right: 2em;
}

#dplOther b.arrow {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    height: 7px;
    width: 12px;
    font-size: 12px;
    font-family: "Arial Helvetica sans-serif";
    line-height: 0px;
    color: #fff;
    background: 0;
    border: 0;
    overflow: hidden;
    cursor: default;
}

#dplOther ul.menu {
    position: absolute;
    padding-top: 5%;
    width: 155%;
    top: 100%;
    left: -30%;
    display: none;
}

#dplOther:hover ul.menu {
    display: block;
}

#dplOther ul.menu li {
    padding: 0 15%;
    color: #fff;
    font-size: 0.8em;
    line-height: 200%;
    background: #5c5a67;
    cursor: pointer;
}

#dplOther ul.menu li:hover {
    background: #6c697c
}

#bodyMain {
    padding: 2em 0;
}


/* tab list component*/

#tabList {
    float: left;
    width: 64%;
}

#tabList .tabBar {
    border-bottom: solid 1px #3b3d49;
}

#tabList .tabBar li {
    float: left;
    margin-right: 2em;
    margin-bottom: -1px;
    color: #fff;
    font-size: 1.6em;
    line-height: 240%;
    border-bottom: solid 4px transparent;
    cursor: pointer;
}

#tabList .tabBar li.active {
    color: #fb9628;
    border-bottom: solid 4px #fb9628;
}

#tabList .tabContent .soundList,
#tabList .tabContent .likeList,
#tabList .tabContent .likeList .section:nth-child(2)
{
    display: none;
}

#tabList .tabContent .active {
    display: block;
}

#tabList .tabContent .sectionTitle {
    margin: 30px 0 20px 0;
    font-size: 16px;
    color: #fff;
}

#tabList .tabContent .sectionTitle i {
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#tabList .tabContent .sectionTitle a {
    float: right;
    margin-right: 10px;
    color: #878787;
    font-size: 14px;
}

#tabList .tabContent .sectionList-audio hr {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #5c5a67;
    border: 0;
}

#tabList .tabContent .sectionList-audio > li {
    position: relative;
    padding: 10px 0;
    min-height: 80px;
    border-bottom: 1px solid #5c5a67;
    font-size: 14px;
}

#tabList .tabContent .sectionList-audio li > a {
    float: left;
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    border: solid 1px transparent;
}

#tabList .tabContent .sectionList-audio .pic {
    width: 80px;
    height: 80px;
    opacity: 1;
}

#tabList .tabContent .sectionList-audio li > a:hover {
    border: solid 1px #fb9628;
}

#tabList .tabContent .sectionList-audio li > a:hover .pic {
    opacity: 0.3;
}

#tabList .tabContent .sectionList-audio li > a:hover .icon-play {
    display: block;
}

#tabList .tabContent .sectionList-audio .icon-play {
    display: none;
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 24px;
    height: 24px;
    background: url(../img-v2/play_48x24.png) no-repeat left;
}

#tabList .tabContent .sectionList-audio .icon-play:hover {
    background-position: right;
}

#tabList .tabContent .sectionList-audio .info-wrapper {
    float: left;
    margin-left: 20px;
    width: 420px;
}

#tabList .tabContent .sectionList-audio .name-audio {
    width: 420px;
    height: 22px;
    color: #fff;
}

#tabList .tabContent .sectionList-audio .name-album {
    color: #7a7e89;
    overflow: hidden;
    line-height: 24px;
}

#tabList .tabContent .sectionList-audio .name-audio:hover,
#tabList .tabContent .sectionList-audio .name-album:hover {
    color: #fb9628;
}

#tabList .tabContent .sectionList-audio .interact {
    position: absolute;
    bottom: 10px;
    width: 520px;
    color: #bdbdbd;
    font-size: 12px;
    line-height: 12px;
}

#tabList .tabContent .sectionList-audio .interact i {
    float: left;
    width: 14px;
    height: 12px;
    background-image: url(../img-v2/btn.png);
}

#tabList .tabContent .sectionList-audio .interact span {
    float: left;
    margin: 0 20px 0 5px;
}

#tabList .tabContent .sectionList-audio .interact p {
    float: right;
}

#tabList .tabContent .sectionList-audio i.like {
    background-position: 0 0;
}

#tabList .tabContent .sectionList-audio i.share {
    background-position: 14px 0;
}

#tabList .tabContent .sectionList-audio .operation.active {
    height: auto;
}

#tabList .tabContent .sectionList-audio .operation.active div i {
    border: solid 1px #7a7e89;
}

#tabList .tabContent .sectionList-audio .operation {
    padding-right: 6px;
    position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    width: 60px;
    overflow: hidden;
    font-size: 12px;
}

#tabList .tabContent .sectionList-audio .operation div {
    height: 24px;
}

#tabList .tabContent .sectionList-audio .operation div i {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
    height: 16px;
    background-image: url(../img-v2/btnStep.png);
    background-position: center -12px;
    background-repeat: no-repeat;
    border: solid 1px transparent;
    border-radius: 3px;
    cursor: pointer;
}

#tabList .tabContent .sectionList-audio .operation .toggle-options {
    padding: 10px 0;
    background-color: #5c5a67;
    border-radius: 4px;
}

#tabList .tabContent .sectionList-audio .operation .toggle-options li {
    padding: 5px 10px;
    width: 40px;
    height: 12px;
    color: #777582;
    line-height: 12px;
    cursor: pointer;
}

#tabList .tabContent .sectionList-audio .operation .toggle-options li i {
    float: left;
    margin-right: 2px;
    width: 14px;
    height: 12px;
    background-image: url(../img-v2/btn.png);
}

i.delete {
    background-position: 14px center;
}

i.o-share {
    background-position: 0 center;
}

#tabList .tabContent .sectionList-audio .operation .toggle-options li:hover {
    background-color: #fb9628;
    color: #fff;
}

#tabList .tabContent .sectionList-audio .operation .toggle-options li:hover i.delete {
    background-position: 14px bottom;
}

#tabList .tabContent .sectionList-audio .operation .toggle-options li:hover i.o-share {
    background-position: 0 bottom;
}

#tabList .tabContent .sectionList-album li {
    float: left;
    width: 100px;
    margin-left: 30px;
}

#tabList .tabContent .sectionList-album li:first-child {
    margin-left: 0;
}

#tabList .tabContent .sectionList-album .pic-wrapper {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
}

#tabList .tabContent .sectionList-album .pic-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
}

#tabList .tabContent .sectionList-album .pic-wrapper .cover {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(../img-v2/album_100x100.png);
}

#tabList .tabContent .sectionList-album .title {
    display: block;
    margin-top: 5px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
}

#tabList .tabContent .sectionList-album .title:hover {
    color: #fb9628;
}

#tabList .tabContent .sectionList-album .info {
    margin-top: 5px;
    height: 16px;
    font-size: 12px;
    color: #bdbdbd;
    overflow: hidden;
}

#tabList .tabContent .sectionList-album .info span {
    margin-right: 5px;
    word-break: break-all;
}

#tabList .tabContent .sectionList-album .info i {
    display: inline-block;
    margin-right: 3px;
    width: 12px;
    height: 12px;
}

#sidebar {
    float: right;
    width: 32%;
}

.sideList {
    border-bottom: solid 1px #55565b;
    margin-bottom: 10px;
}

.sideList .ul-title {
    position: relative;
    padding-top: 8px;
}

.sideList .ul-title span {
    color: #fff;
    font-size: 1.6em;
}

.sideList .ul-title a {
    display: none;
    position: absolute;
    right: 0;
}

.sideList li {
    width: 100%;
    padding: 10px;
}

.sideList .li-pic {
    float: left;
    width: 20%;
    margin-right: 10%;
}

.sideList .li-pic a {
    display: block;
}

.sideList .li-pic img {
    width: 100%;
}

.sideList .li-desc {
    float: left;
    margin-top: 5px;
    width: 66%;
}

.sideList .li-desc .li-title {
    font-size: 1.4em
}

.sideList .li-desc .li-title a {
    color: #fff;
}

.sideList .li-desc .li-speaker {
    font-size: 1.4em;
    padding-top: 0.5em;
}

.sideList .li-desc .li-speaker a {
    color: #878787;
    margin-right: 0.5em;
}

.sideList .li-desc .li-speaker span {
    font-size: 0.8em;
}

#preUserList.sideList .li-pic img {
    border-radius: 50%;
}

#preUserList.sideList {
    border: none;
}

#adv {
    margin: 1em 0;
}

#adv img {
    width: 100%;
}