#coverupload-al-queue {
    width: 109px;
}

.uploadify-queue-item {
    position: relative;
    background-color: transparent;
    font-size: 12px;
    width: 334px;
    margin: 0 auto;
}

.uploadify-queue-item .cancel {
    position: absolute;
    top: 0;
    right: 0;
}

.uploadify-queue-item .cancel a {
    display: block;
    background-image: url('../img-v2/cancelBig_15x15.png');
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
}

.uploadify-queue-item .info {
    margin-top: 15px;
    width: 302px;
    text-align: center;
}

.uploadify-queue-item .info .status {
    color: #878787;
}

.uploadify-progress {
    background-color: #d8d8d8;
    border-radius: 5px;
    width: 302px;
}

.uploadify-progress-bar {
    position: relative;
    background-color: #fb9628;
    border-radius: 23px;
    height: 14px;
    width: 1px;
}

.uploadify-progress-bar span {
    position: absolute;
    top: 0;
    right: 5px;
    color: #000;
    height: 14px;
}

.coverupload-al-button {
    margin-top: 10px;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    background-color: #fb9628;
    background-image: url(../img-v2/addCover_13x13.png);
    background-repeat: no-repeat;
    background-position: 11px center;
}

.coverupload-al-button span {
    margin-left: 20px;
    font-size: 12px;
    color: #000;
}

.tagsinput {
    margin-bottom: 10px;
    padding: 5px;
    overflow: hidden;
    border-radius: 3px;
}

.tagsinput .tag {
    color: #fff;
}

.tag {
    position: relative;
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
}

.tag:before {
    float: left;
    content: " ";
    width: 24px;
    height: 24px;
    background: url(../img-v2/labeltop_34x24.png) no-repeat;
}

.tag:after {
    float: left;
    content: " ";
    width: 10px;
    height: 24px;
    background: url(../img-v2/labeltop_34x24.png) no-repeat right;
}

.tag span {
    float: left;
    height: 24px;
    line-height: 24px;
    background: url(../img-v2/labelmiddle_74x24.png) no-repeat;
}

.tag a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background: url(../img-v2/cancelSmall_12x12.png);
}

.tagsinput input {
    width: 80px;
    margin: 0 5px 5px 0;
    padding: 5px;
    font-size: 13px;
    border: 1px solid transparent!important;
    background: 0 0!important;
    outline: 0;
}

body {
    border-color: #22252c;
}

.mainFrame {
    background-color: #22252c;
    font: 14px "Microsoft YaHei";
    color: #fff;
}

.hide {
    display: none;
}

.hideinput {
    visibility: hidden;
    float: right;
}

.btn {
    background-color: #fb9628;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: #000;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff8500;
}

.btn-dark {
    background-color: #323740;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: #878787;
    text-align: center;
    cursor: pointer;
}

.btn-dark:hover {
    background-color: #2b313c;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.recomm {
    color: #878787;
    font-size: 12px;
}

.upload-wrapper {
    margin: 0 auto;
    padding-top: 50px;
    width: 1000px;
    min-height: 700px;
}

.section {
    margin-bottom: 50px;
}

.section h1 {
    margin-bottom: 10px;
    padding-left: 38px;
    height: 33px;
    font-size: 24px;
    font-weight: normal;
    color: #fb9628;
    line-height: 33px;
}

.section-create h1 {
    background: url(../img-v2/createAlbum_32x32.png) no-repeat;
}

.form-group {
    margin-bottom: 27px;
    width: 100%;
}

.form-group .control-label {
    float: left;
    margin-right: 10px;
    padding-top: 10px;
    width: 74px;
    font-size: 16px;
}

.form-group .control-label span {
    color: #ff9d00;
}

.form-group .input-box {
    float: left;
    position: relative;
}

.form-group input,
.form-group textarea,
.form-ele,
.tagsinput {
    background-color: #323740;
    border: 2px solid transparent;
    color: #777582;
}

.form-group input:focus,
.form-group textarea:focus,
.toggle-box:focus,
.onfocus {
    background-color: #5c5a67;
    border: 2px solid #ffbb6f;
    color: #fff;
    outline: 0;
    transition: border ease-in-out .3s, background ease-in-out .3s, -webkit-input-placeholder ease-in-out .3s;
}

::-webkit-input-placeholder {
    color: #777582;
}

:focus::-webkit-input-placeholder {
    color: #fff;
}

#input-title-al {
    margin-bottom: 10px;
    padding: 0 10px;
    width: 380px;
    height: 40px;
    line-height: 44px;
    border-radius: 3px;
}

.input-cover-wrapper {
    position: relative;
    margin-bottom: 13px;
    padding: 7px 7px 0 0;
    width: 102px;
    height: 102px;
}

.input-cover-wrapper .data {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background: url(../img-v2/cover_100x100.png) no-repeat;
}

.input-cover-wrapper .data {
    border: 1px solid #fb9628;
}

.input-cover-wrapper .cancel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-position: right center;
    cursor: pointer;
}

#cropper-box-al {
    margin: 20px 0;
    width: 100px;
    height: 100px;
}

#cropper-box-al img {
    width: 100px;
    height: 100px;
}

#cropper-button-al {
    width: 84px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}

#cropper-preview-al {
    position: absolute;
    top: 8px;
    left: 1px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.radio {
    position: relative;
    float: left;
    margin: 10px 10px 0 10px;
    padding-left: 22px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
}

.radio span {
    position: absolute;
    left: 0;
    width: 14px;
    height: 20px;
    background-image: url(../img-v2/yesno_28x14.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.radio.checked span {
    background-position: left center;
}

#input-description-al {
    padding: 7px 20px;
    width: 360px;
    height: 200px;
    resize: none;
    border-radius: 3px;
}

#tag-box-al {
    margin-top: 10px;
    width: 400px;
    height: 78px;
}

#tag-box-al .tag {
    color: #777582;
    cursor: pointer;
    transition: color ease-in-out .2s
}

#tag-box-al .tag:hover {
    color: #fff;
}

#tag-button-al {
    position: absolute;
    right: 0;
    bottom: 14px;
    width: 66px;
    height: 24px;
    line-height: 24px;
    background-image: url(../img-v2/replace_14x14.png);
    background-position: 6px center;
}

#tag-button-al span {
    margin-left: 20px;
    font-size: 12px;
}

.operate-box {
    margin-left: 74px;
}

.operate-box div {
    float: left;
    margin-left: 60px;
    width: 104px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
}