@color-bg-dark: #22252c;
@color-theme: #fb9628;
@color-white: #fff;
@color-font-normal: @color-white;
@color-button: #22262C;
.mainFrame {
    background-color: @color-bg-dark;
    font: 14px "Microsoft YaHei";
    color: @color-font-normal;
}

.error {
    margin: 0 auto;
    padding-top: 200px;
    width: 1000px;
    min-height: 1000px;
    h1 {
        font-size: 26px;
    }
    .btn {
        margin: 42px 30px 0 0;
        width: 140px;
        height: 42px;
        font-size: 20px;
        color: @color-button;
        background-color: @color-theme;
    }
}