@color-bg-dark: #22252c;
@color-bg-medium: #2d3037;
@color-bg-light: #333740;
@color-theme: #fb9628;
@color-border: #ab5608;
@color-white: #fff;
@color-black: #000;
@color-trans: transparent;
@color-font-normal: @color-white;
@color-font-hover: @color-theme;
@color-font-dark: #878787;
body {
    background-color: @color-bg-dark;
}

.mainFrame {
    background-color: @color-bg-dark;
    font: 14px "Microsoft YaHei";
    color: @color-font-normal;
}

.swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    .swiper-slide img {
        width: 100%;
        max-width: 1920px;
        min-width: 1000px;
        max-height: 480px;
    }
    .swiper-slide {
        display: none;
        &.active {
            display: block;
        }
    }
    .swiper-page-wrapper {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        .swiper-page {
            display: inline-block;
            position: relative;
            padding: 5px;
            width: auto;
            border-radius: 10px;
            background-color: @color-black;
            opacity: 0.7;
            *display: inline;
            *zoom: 1;
            span {
                display: inline-block;
                margin: 0 5px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: @color-white;
                cursor: pointer;
            }
            span.active {
                background-color: @color-theme;
            }
        }
    }
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: @color-bg-medium;
    text-align: center;
    .banner-img-wrapper {
        margin: 0 auto;
        overflow: hidden;
        width: 100%;
        max-width: 1220px;
        min-width: 940px;
        a {
            display: inline-block;
            position: relative;
            padding: 0 0.1%;
            width: 19.6%;
            &:hover {
                .section-album {
                    opacity: 1;
                }
                .section-icon {
                    display: block;
                }
            }
        }
        .section-album {
            margin: 10px auto;
            width: 100%;
            max-width: 236px;
            min-width: 185px;
            opacity: 0.2;
        }
        .section-icon {
            display: none;
            position: absolute;
            bottom: 22px;
            right: 12px;
            width: 24px;
            height: 24px;
            background-image: url(../img-v2/play_24x24.png);
        }
    }
    .banner-title-wrapper {
        position: relative;
        margin: 0 auto;
        width: 73%;
        max-width: 1400px;
        min-width: 1000px;
        text-align: left;
        a {
            color: @color-font-normal;
            text-decoration: none;
            span:hover {
                text-decoration: underline;
            }
            h1 {
                margin-bottom: 0;
                font-size: 2em;
            }
            span {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}

.channel {
    margin: 0 auto;
    padding: 50px 0;
    width: 73%;
    max-width: 1400px;
    min-width: 1000px;
    .channel-left-wrapper {
        display: inline-block;
        vertical-align: top;
        margin-right: 3.07%;
        width: 67.86%;
        .section {
            margin-bottom: 40px;
            .section-link {
                position: relative;
                margin-bottom: 6px;
                a {
                    display: block;
                    color: @color-font-normal;
                    text-decoration: none;
                    span:hover {
                        text-decoration: underline;
                    }
                    h1 {
                        margin: 0 0 12px 0;
                        padding-left: 55px;
                        font-size: 2em;
                        height: 48px;
                        line-height: 48px;
                        background-image: url(../img-v2/icon_48x384.png);
                        background-repeat: no-repeat;
                    }
                    span {
                        position: absolute;
                        bottom: 0;
                        right: 3%;
                    }
                }
            }
            .section-list {
                .clear-float;
                overflow-y: hidden;
                .section-item {
                    float: left;
                    position: relative;
                    margin-right: 1%;
                    vertical-align: top;
                    a {
                        display: block;
                    }
                    .section-cover {
                        position: relative;
                        width: 100%;
                        .section-album {
                            margin-bottom: 12px;
                            width: 100%;
                            border: 2px solid @color-trans;
                        }
                        .section-icon {
                            display: none;
                            position: absolute;
                            right: 12px;
                            bottom: 24px;
                            width: 24px;
                            height: 24px;
                            background-image: url(../img-v2/play_24x24.png);
                        }
                    }
                    .section-title {
                        color: @color-font-hover;
                        margin-bottom: 6px;
                    }
                    .section-auther {
                        color: @color-font-dark;
                    }
                    a:hover {
                        text-decoration: underline;
                        .section-album {
                            border: 2px solid @color-theme;
                            opacity: 0.3;
                        }
                        .section-icon {
                            display: block;
                        }
                        .section-title {
                            color: @color-font-hover;
                            text-decoration: underline;
                        }
                        .section-auther {
                            color: @color-font-dark;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .section-list-a(@style) {
                width: @style;
            }
            .style-a .section-item {
                .section-list-a(15.3%);
            }
            .style-b .section-item {
                .section-list-a(23.5%);
            }
            .style-c .section-item {
                .section-list-a(14%);
                &.style-first {
                    .section-list-a(37%);
                }
            }
        }
    }
    .channel-right-wrapper {
        display: inline-block;
        vertical-align: top;
        width: 28.57%;
        .section {
            margin-bottom: 12px;
            .section-title {
                h1 {
                    margin: 12px 0;
                    font-size: 1.2em;
                    vertical-align: bottom;
                }
            }
            .section-content {
                width: 100%;
                a {
                    color: @color-font-normal;
                    text-decoration: none;
                    h1:hover,
                    span:hover {
                        color: @color-font-hover;
                        text-decoration: none;
                    }
                }
            }
            .style-a {
                border-bottom: 1px solid gray;
                .part-a {
                    margin: 30px 0 12px 0;
                    a {
                        display: block;
                    }
                    .part-album {
                        display: inline-block;
                        margin-right: 18px;
                        width: 100px;
                        img {
                            width: 100%;
                            border-radius: 100%;
                        }
                    }
                    .part-info {
                        display: inline-block;
                        .part-title {
                            margin-bottom: 6px;
                            font-size: 1.5em;
                        }
                        .part-auther {
                            font-size: 1.2em;
                            color: @color-font-dark;
                        }
                        .part-title:hover,
                        .part-auther:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .part-b {
                    margin: 0 auto;
                    width: 90%;
                    p {
                        color: @color-font-dark;
                        text-indent: 2em;
                    }
                }
            }
            .style-b {
                border-bottom: 1px solid gray;
                .part-a {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        position: relative;
                        margin: 13px 0;
                        font-size: 13px;
                        .part-number {
                            margin: 0 25px 0 12px;
                        }
                        .part-title:hover,
                        .part-auther:hover {
                            text-decoration: underline;
                        }
                        .part-number,
                        .part-auther {
                            color: @color-font-dark;
                        }
                        .part-auther {
                            float: right;
                        }
                    }
                    li.style-first {
                        .clear-float;
                        margin: 30px 0 12px 0;
                        .part-album {
                            display: inline-block;
                            margin-right: 18px;
                            width: 100px;
                            img {
                                width: 100%;
                            }
                        }
                        .part-info {
                            display: inline-block;
                            .part-title {
                                margin-bottom: 6px;
                                font-size: 1.5em;
                            }
                            .part-auther {
                                font-size: 1.2em;
                                float: none;
                            }
                        }
                    }
                }
                .part-b img {
                    margin-bottom: 12px;
                    width: 100%;
                }
            }
            .style-c {
                padding-top: 4px;
            }
        }
    }
}

.clear-float {
    zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}