@color-bg-dark: #22252c;
@color-bg-light: #333740;
@color-theme: #fb9628;
@color-white: #fff;
@color-font-normal: @color-white;
@color-font-hover: @color-theme;
@color-font-dark: #878787;
@color-border-dark: #63482b;
@color-border-light: #8f6537;
@color-button: #22262C;
body {
    border-color: @color-bg-dark;
}

.mainFrame {
    background-color: @color-bg-dark;
    font: 14px "Microsoft YaHei";
    color: @color-font-normal;
}

.login-wrapper {
    margin: 0 auto;
    padding-top: 50px;
    width: 1000px;
    min-height: 500px;
    .login-ad {
        display: inline-block;
        vertical-align: top;
        width: 570px;
        height: 350px;
        border-right: 1px solid @color-border-dark;
        .login-ad-content {
            margin: 15px 48px 0 0;
            width: 520px;
            height: 320px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .login-box {
        display: inline-block;
        vertical-align: top;
        width: 393px;
        height: 350px;
        .login-box-content {
            margin: 15px 0 0 12px;
            padding: 18px;
            background-color: @color-bg-light;
            .part-a {
                padding: 0 25px;
                border-bottom: 1px solid @color-border-light;
                p {
                    font-size: 1.2em;
                    color: @color-font-hover;
                }
                button {
                    font-size: 1.2em;
                    font-weight: bold;
                    width: 100%;
                    color: @color-button;
                    background-color: @color-theme;
                    border: 0;
                }
                input {
                    height: 40px;
                    border: 2px solid @color-bg-light;
                    &:focus {
                        outline: none;
                        border: 2px solid @color-theme;
                    }
                }
                .style-link {
                    text-align: right;
                    a {
                        color: @color-font-dark;
                        &:hover {
                            color: @color-font-normal;
                        }
                    }
                }
            }
            .part-b {
                padding-top: 20px;
                a {
                    display: inline-block;
                    width: 49%;
                    padding: 0 20px;
                    text-align: center;
                    color: @color-font-dark;
                    &:hover {
                        color: @color-font-normal;
                    }
                    &:first-child {
                        border-right: 1px solid @color-border-light;
                    }
                    lable {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}