@color-bg-dark: #22252c;
@color-bg-medium: #2d3037;
@color-theme: #fb9628;
@color-white: #fff;
@color-trans: transparent;
@color-font-normal: @color-white;
@color-font-hover: @color-theme;
@color-font-dark: #878787;
@color-input: #5c5a67;
@color-button: #22262C;
body {
    border-color: @color-bg-dark;
}

.mainFrame {
    background-color: @color-bg-dark;
    font: 14px "Microsoft YaHei";
    color: @color-font-normal;
}

.signup-wrapper {
    margin: 0 auto;
    padding-top: 50px;
    width: 1000px;
    min-height: 700px;
    .signup-box {
        width: 700px;
        h1 {
            font-size: 2em;
            small {
                color: @color-font-hover;
            }
        }
        .signup-box-title {
            margin: 50px 0 30px 0;
            padding-left: 20px;
            .tab {
                display: inline-block;
                width: 100px;
                height: 40px;
                font-size: 1.5em;
                color: @color-font-dark;
                cursor: pointer;
                &.active {
                    color: @color-font-normal;
                }
            }
        }
        .signup-box-content {
            margin-top: 50px;
            padding-left: 20px;
            .section {
                width: 100%;
                .form-group {
                    button {
                        margin-top: 30px;
                        width: 100%;
                        font-size: 1.2em;
                        font-weight: bold;
                        color: @color-button;
                        background-color: @color-theme;
                    }
                    label {
                        text-align: left;
                        font-size: 1.2em;
                        color: @color-font-dark;
                    }
                    input {
                        height: 45px;
                        color: @color-font-normal;
                        background-color: @color-bg-medium;
                        border: 2px solid @color-trans;
                    }
                    img {
                        margin-left: -15px;
                        ;
                    }
                    p {
                        display: none;
                        margin-bottom: 0;
                        color: @color-font-hover;
                    }
                }
                .form-group.focus {
                    input {
                        background-color: @color-input;
                        border: 2px solid @color-theme;
                    }
                    label {
                        color: @color-font-normal;
                    }
                }
            }
        }
    }
}